extends layout

block content

  if registrations.length
    table.listing-table.table-dark.table-striped
      tr
        th Email
        th Password
      each registration in registrations
        tr
          td= registration.email
          td= registration.password
  else
    p No registrations yet :(