doctype html
html
  head
    title= `${title}`
    link(rel='stylesheet', type="text/css", href='/css/bootstrap.min.css')
    link(rel='stylesheet', type="text/css", href='css/styles.css')

  body
    div.container.listing-reg
      h1 Wecome to WeatherDresser!

      block content