doctype html
html
  head
    title= `${title}`
    link(rel='stylesheet', type="text/css", href='/css/bootstrap.min.css')
    link(rel='stylesheet', type="text/css", href='css/styles.css')
    link(href='https://fonts.googleapis.com/css?family=Bungee Inline', rel='stylesheet')

  body(style="background-color: rgb(199, 199, 199)")
    div.container.listing-reg
      h1(style='text-align:center', font-family: 'Bungee Inline') Wecome to WeatherDresser!
      h2(style='text-align:center') Sign in below!
      block content